* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-size: 30px;
  text-transform: capitalize;
}

/* تخصيص كامل لمتصفح كروم وسفاري */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* تخصيص خلفية شريط التمرير */
::-webkit-scrollbar-track {
  background: white;
}

/* تخصيص مقبض شريط التمرير */
::-webkit-scrollbar-thumb {
  background: #0084ff;
  border-radius: 10px;
}

/* تغيير اللون عند التمرير */
::-webkit-scrollbar-thumb:hover {
  background: #004a8f;
}

body {
  background-color: white !important;
  font-family: cursive;
}

:root {
  --primary-color: #0075ff;
}

h1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 10px;
  div {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-shadow: -5px 5px 0 black, -10px 9px 0 black;
  }
}

form {
  width: 1200px;
  height: 800px;
  padding: 0px 50px;
  border-left: white 50px solid;
  border-right: white 50px solid;
  border-style: double;
  box-shadow: black 0px 0px 30px;
  border-bottom: solid rgb(0, 0, 0) 30px;
  border-top: solid rgb(0, 0, 0) 30px;
  background-color: none;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  margin: 0px auto;
  gap: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 20pxf;
  label {
    margin-right: 20px;
    outline: none;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 1px 2px 0 black;
  }
  input {
    border-radius: 10px;
    border: none;
    outline: none;
    color: black;
    text-align: center;
    padding: 5px;
    text-transform: capitalize;
  }
  select {
    border-radius: 10px;
    border: none;
    outline: none;
    color: var(--primary-color);
    text-align: center;
    padding: 5px;
    text-transform: capitalize;
    width: 100px;
    font-weight: bold;
    cursor: pointer;
  }
  input:hover {
    border: none;
    background-color: white;
  }
  button {
    color: black;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: none;
    outline: none;
    text-align: center;
    padding: 5px;
    text-transform: capitalize;
    width: 300px;
    font-weight: bold;
    cursor: pointer;
    margin: auto;
  }
}

option {
  background-color: white;
  color: black;
  border: none;
  outline: none;
  font-weight: bold;
}

h2 {
  text-align: center;
  margin: 0px auto 0px;
  font-size: 70px;
}

.allAnswers {
  width: 800px;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 200px;
  span {
    font-size: 50px;
    font-weight: bold;
    outline: 5px solid black;
    border: 5px solid var(--primary-color);
    border-radius: 10px;
    padding: 5px;
    color: black;
    background-color: white;
    width: 100px;
    justify-content: center;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  span:hover {
    background-color: var(--primary-color);
    color: white;
    border-color: white;
    outline-color: white;
  }
}

.theTime {
  font-size: 35px;
  font-weight: bold;
  margin-left: 50px;
  span {
    font-size: 40px;
    font-weight: bold;
    margin-left: 20px;
    color: greenyellow;
  }
}

.correctPoints {
  font-size: 38px;
  font-weight: bold;
  color: greenyellow;
  padding: 0px 10px;
  border-left: 5px solid greenyellow;
  border-right: 5px solid greenyellow;
  border-top: 5px solid black;
  background-color: black;
  border-bottom: 5px solid black;
}

.falsePoints {
  font-size: 40px;
  font-weight: bold;
  color: red;
  padding: 0px 10px;
  border-left: 5px solid red;
  border-right: 5px solid red;
  border-top: 5px solid black;
  background-color: black;
  border-bottom: 5px solid black;
}

.das {
  margin-left: 20px;
  font-size: 30px;
}
.sas {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 40px;
}

.hidden {
  display: none;
}

.green {
  background-color: green;
}

.thelast {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgb(0 0 0 / 50%);
  z-index: 10000;
  transition: 0.5s;
  display: block;
  text-align: center;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timee {
  margin-left: 30px;
}
